
   INFO  Running migrations.  

  0001_01_01_000000_create_users_table   
  Γçé create table "users" ("id" integer primary key autoincrement not null, "name" varchar not null, "email" varchar not null, "email_verified_at" datetime, "password" varchar not null, "role" varchar not null default 'user', "remember_token" varchar, "created_at" datetime, "updated_at" datetime)  
  Γçé create unique index "users_email_unique" on "users" ("email")  
  Γçé create table "password_reset_tokens" ("email" varchar not null, "token" varchar not null, "created_at" datetime, primary key ("email"))  
  Γçé create table "sessions" ("id" varchar not null, "user_id" integer, "ip_address" varchar, "user_agent" text, "payload" text not null, "last_activity" integer not null, primary key ("id"))  
  Γçé create index "sessions_user_id_index" on "sessions" ("user_id")  
  Γçé create index "sessions_last_activity_index" on "sessions" ("last_activity")  
  0001_01_01_000001_create_cache_table   
  Γçé create table "cache" ("key" varchar not null, "value" text not null, "expiration" integer not null, primary key ("key"))  
  Γçé create index "cache_expiration_index" on "cache" ("expiration")  
  Γçé create table "cache_locks" ("key" varchar not null, "owner" varchar not null, "expiration" integer not null, primary key ("key"))  
  Γçé create index "cache_locks_expiration_index" on "cache_locks" ("expiration")  
  0001_01_01_000002_create_jobs_table   
  Γçé create table "jobs" ("id" integer primary key autoincrement not null, "queue" varchar not null, "payload" text not null, "attempts" integer not null, "reserved_at" integer, "available_at" integer not null, "created_at" integer not null)  
  Γçé create index "jobs_queue_index" on "jobs" ("queue")  
  Γçé create table "job_batches" ("id" varchar not null, "name" varchar not null, "total_jobs" integer not null, "pending_jobs" integer not null, "failed_jobs" integer not null, "failed_job_ids" text not null, "options" text, "cancelled_at" integer, "created_at" integer not null, "finished_at" integer, primary key ("id"))  
  Γçé create table "failed_jobs" ("id" integer primary key autoincrement not null, "uuid" varchar not null, "connection" text not null, "queue" text not null, "payload" text not null, "exception" text not null, "failed_at" datetime not null default CURRENT_TIMESTAMP)  
  Γçé create unique index "failed_jobs_uuid_unique" on "failed_jobs" ("uuid")  
  2026_03_10_073956_create_personal_access_tokens_table   
  Γçé create table "personal_access_tokens" ("id" integer primary key autoincrement not null, "tokenable_type" varchar not null, "tokenable_id" integer not null, "name" text not null, "token" varchar not null, "abilities" text, "last_used_at" datetime, "expires_at" datetime, "created_at" datetime, "updated_at" datetime)  
  Γçé create index "personal_access_tokens_tokenable_type_tokenable_id_index" on "personal_access_tokens" ("tokenable_type", "tokenable_id")  
  Γçé create unique index "personal_access_tokens_token_unique" on "personal_access_tokens" ("token")  
  Γçé create index "personal_access_tokens_expires_at_index" on "personal_access_tokens" ("expires_at")  
  2026_03_11_031522_create_user_profiles_table   
  Γçé create table "user_profiles" ("id" integer primary key autoincrement not null, "user_id" integer not null, "first_name" varchar, "last_name" varchar, "phone" varchar, "avatar_url" varchar, "bio" text, "birth_date" date, "gender" varchar check ("gender" in ('male', 'female', 'other')), "institution" varchar, "university" varchar, "semester" integer, "nim" varchar, "created_at" datetime, "updated_at" datetime, foreign key("user_id") references "users"("id") on delete cascade)  
  Γçé create index "user_profiles_user_id_index" on "user_profiles" ("user_id")  
  2026_03_11_031523_create_user_preferences_table   
  Γçé create table "user_preferences" ("id" integer primary key autoincrement not null, "user_id" integer not null, "settings" text, "created_at" datetime, "updated_at" datetime, foreign key("user_id") references "users"("id") on delete cascade)  
  Γçé create index "user_preferences_user_id_index" on "user_preferences" ("user_id")  
  2026_03_11_043000_create_news_table   
  Γçé create table "news" ("id" integer primary key autoincrement not null, "title" varchar not null, "slug" varchar not null, "content" text not null, "image_url" varchar, "category" varchar, "published_at" datetime, "is_active" tinyint(1) not null default '1', "created_at" datetime, "updated_at" datetime)  
  Γçé create index "news_published_at_index" on "news" ("published_at")  
  Γçé create index "news_is_active_index" on "news" ("is_active")  
  Γçé create unique index "news_slug_unique" on "news" ("slug")  
  2026_03_11_043001_create_education_contents_table   
  Γçé create table "education_contents" ("id" integer primary key autoincrement not null, "title" varchar not null, "slug" varchar not null, "type" varchar check ("type" in ('module', 'video', 'document')) not null, "description" text, "thumbnail_url" varchar, "file_url" varchar, "video_id" varchar, "duration_minutes" integer, "pages_count" integer, "is_active" tinyint(1) not null default '1', "created_at" datetime, "updated_at" datetime)  
  Γçé create index "education_contents_type_index" on "education_contents" ("type")  
  Γçé create index "education_contents_is_active_index" on "education_contents" ("is_active")  
  Γçé create unique index "education_contents_slug_unique" on "education_contents" ("slug")  
  2026_03_11_043002_create_training_tables   
  Γçé create table "training_modules" ("id" integer primary key autoincrement not null, "title" varchar not null, "slug" varchar not null, "description" text, "cover_image_url" varchar, "difficulty" varchar not null default 'Beginner', "estimated_duration" integer, "is_active" tinyint(1) not null default '1', "created_at" datetime, "updated_at" datetime)  
  Γçé create index "training_modules_is_active_index" on "training_modules" ("is_active")  
  Γçé create unique index "training_modules_slug_unique" on "training_modules" ("slug")  
  Γçé create table "user_training_progress" ("id" integer primary key autoincrement not null, "user_id" integer not null, "training_module_id" integer not null, "completion_percentage" integer not null default '0', "status" varchar check ("status" in ('locked', 'available', 'in_progress', 'completed')) not null default 'available', "last_accessed_at" datetime, "created_at" datetime, "updated_at" datetime, foreign key("user_id") references "users"("id") on delete cascade, foreign key("training_module_id") references "training_modules"("id") on delete cascade)  
  Γçé create unique index "user_training_progress_user_id_training_module_id_unique" on "user_training_progress" ("user_id", "training_module_id")  
  2026_03_11_043003_create_assessment_recovery_tables   
  Γçé select exists (select 1 from "main".sqlite_master where name = 'assessment_attempts' and type = 'table') as "exists"  
  Γçé create table "assessment_attempts" ("id" integer primary key autoincrement not null, "created_at" datetime, "updated_at" datetime)  
  Γçé select name, type, not "notnull" as "nullable", dflt_value as "default", pk as "primary", hidden as "extra" from pragma_table_xinfo('assessment_attempts', 'main') order by cid asc  
  Γçé select "sql" from "main".sqlite_master where type = 'table' and name = 'assessment_attempts'  
  Γçé select name, type, not "notnull" as "nullable", dflt_value as "default", pk as "primary", hidden as "extra" from pragma_table_xinfo('assessment_attempts', 'main') order by cid asc  
  Γçé select "sql" from "main".sqlite_master where type = 'table' and name = 'assessment_attempts'  
  Γçé select name, type, not "notnull" as "nullable", dflt_value as "default", pk as "primary", hidden as "extra" from pragma_table_xinfo('assessment_attempts', 'main') order by cid asc  
  Γçé select "sql" from "main".sqlite_master where type = 'table' and name = 'assessment_attempts'  
  Γçé select name, type, not "notnull" as "nullable", dflt_value as "default", pk as "primary", hidden as "extra" from pragma_table_xinfo('assessment_attempts', 'main') order by cid asc  
  Γçé select "sql" from "main".sqlite_master where type = 'table' and name = 'assessment_attempts'  
  Γçé select name, type, not "notnull" as "nullable", dflt_value as "default", pk as "primary", hidden as "extra" from pragma_table_xinfo('assessment_attempts', 'main') order by cid asc  
  Γçé select "sql" from "main".sqlite_master where type = 'table' and name = 'assessment_attempts'  
  Γçé select name, type, not "notnull" as "nullable", dflt_value as "default", pk as "primary", hidden as "extra" from pragma_table_xinfo('assessment_attempts', 'main') order by cid asc  
  Γçé select "sql" from "main".sqlite_master where type = 'table' and name = 'assessment_attempts'  
  Γçé select name, type, not "notnull" as "nullable", dflt_value as "default", pk as "primary", hidden as "extra" from pragma_table_xinfo('assessment_attempts', 'main') order by cid asc  
  Γçé select "sql" from "main".sqlite_master where type = 'table' and name = 'assessment_attempts'  
  Γçé select 'primary' as name, group_concat(col) as columns, 1 as "unique", 1 as "primary" from (select name as col from pragma_table_xinfo('assessment_attempts', 'main') where pk > 0 order by pk, cid) group by name union select name, group_concat(col) as columns, "unique", origin = 'pk' as "primary" from (select il.*, ii.name as col from pragma_index_list('assessment_attempts', 'main') il, pragma_index_info(il.name, 'main') ii order by il.seq, ii.seqno) group by name, "unique", "primary"  
  Γçé select group_concat("from") as columns, 'main' as foreign_schema, "table" as foreign_table, group_concat("to") as foreign_columns, on_update, on_delete from (select * from pragma_foreign_key_list('assessment_attempts', 'main') order by id desc, seq) group by id, "table", on_update, on_delete  
  Γçé pragma foreign_keys  
  Γçé alter table "assessment_attempts" add column "user_id" integer  
  Γçé create table "__temp__assessment_attempts" ("user_id" integer, foreign key("user_id") references "users"("id") on delete cascade)  
  Γçé insert into "__temp__assessment_attempts" ("user_id") select "user_id" from "assessment_attempts"  
  Γçé drop table "assessment_attempts"  
  Γçé alter table "__temp__assessment_attempts" rename to "assessment_attempts"  
  Γçé alter table "assessment_attempts" add column "assessment_id" integer  
  Γçé alter table "assessment_attempts" add column "score" integer  
  Γçé alter table "assessment_attempts" add column "status" varchar check ("status" in ('in_progress', 'completed', 'failed')) not null default 'in_progress'  
  Γçé alter table "assessment_attempts" add column "started_at" datetime  
  Γçé alter table "assessment_attempts" add column "completed_at" datetime  
  Γçé select exists (select 1 from "main".sqlite_master where name = 'user_answers' and type = 'table') as "exists"  
  Γçé create table "user_answers" ("id" integer primary key autoincrement not null, "created_at" datetime, "updated_at" datetime)  
  Γçé select name, type, not "notnull" as "nullable", dflt_value as "default", pk as "primary", hidden as "extra" from pragma_table_xinfo('user_answers', 'main') order by cid asc  
  Γçé select "sql" from "main".sqlite_master where type = 'table' and name = 'user_answers'  
  Γçé select name, type, not "notnull" as "nullable", dflt_value as "default", pk as "primary", hidden as "extra" from pragma_table_xinfo('user_answers', 'main') order by cid asc  
  Γçé select "sql" from "main".sqlite_master where type = 'table' and name = 'user_answers'  
  Γçé select name, type, not "notnull" as "nullable", dflt_value as "default", pk as "primary", hidden as "extra" from pragma_table_xinfo('user_answers', 'main') order by cid asc  
  Γçé select "sql" from "main".sqlite_master where type = 'table' and name = 'user_answers'  
  Γçé select name, type, not "notnull" as "nullable", dflt_value as "default", pk as "primary", hidden as "extra" from pragma_table_xinfo('user_answers', 'main') order by cid asc  
  Γçé select "sql" from "main".sqlite_master where type = 'table' and name = 'user_answers'  
  Γçé select 'primary' as name, group_concat(col) as columns, 1 as "unique", 1 as "primary" from (select name as col from pragma_table_xinfo('user_answers', 'main') where pk > 0 order by pk, cid) group by name union select name, group_concat(col) as columns, "unique", origin = 'pk' as "primary" from (select il.*, ii.name as col from pragma_index_list('user_answers', 'main') il, pragma_index_info(il.name, 'main') ii order by il.seq, ii.seqno) group by name, "unique", "primary"  
  Γçé select group_concat("from") as columns, 'main' as foreign_schema, "table" as foreign_table, group_concat("to") as foreign_columns, on_update, on_delete from (select * from pragma_foreign_key_list('user_answers', 'main') order by id desc, seq) group by id, "table", on_update, on_delete  
  Γçé pragma foreign_keys  
  Γçé alter table "user_answers" add column "assessment_attempt_id" integer  
  Γçé create table "__temp__user_answers" ("assessment_attempt_id" integer, foreign key("assessment_attempt_id") references "assessment_attempts"("id") on delete cascade)  
  Γçé insert into "__temp__user_answers" ("assessment_attempt_id") select "assessment_attempt_id" from "user_answers"  
  Γçé drop table "user_answers"  
  Γçé alter table "__temp__user_answers" rename to "user_answers"  
  Γçé alter table "user_answers" add column "question_id" integer  
  Γçé alter table "user_answers" add column "option_id" integer  
  2026_03_11_043500_update_education_contents_table   
  Γçé alter table "education_contents" add column "category" varchar  
  Γçé alter table "education_contents" add column "level" varchar not null default 'Beginner'  
  Γçé alter table "education_contents" add column "tags" text  
  Γçé create index "education_contents_category_index" on "education_contents" ("category")  
  Γçé create index "education_contents_level_index" on "education_contents" ("level")  
  2026_03_11_043600_add_module_meta_to_education_contents   
  Γçé alter table "education_contents" add column "code" varchar  
  Γçé alter table "education_contents" add column "learning_path" text  
  2026_03_11_043601_link_education_to_training_modules   
  Γçé select name, type, not "notnull" as "nullable", dflt_value as "default", pk as "primary", hidden as "extra" from pragma_table_xinfo('education_contents', 'main') order by cid asc  
  Γçé select "sql" from "main".sqlite_master where type = 'table' and name = 'education_contents'  
  Γçé select 'primary' as name, group_concat(col) as columns, 1 as "unique", 1 as "primary" from (select name as col from pragma_table_xinfo('education_contents', 'main') where pk > 0 order by pk, cid) group by name union select name, group_concat(col) as columns, "unique", origin = 'pk' as "primary" from (select il.*, ii.name as col from pragma_index_list('education_contents', 'main') il, pragma_index_info(il.name, 'main') ii order by il.seq, ii.seqno) group by name, "unique", "primary"  
  Γçé select group_concat("from") as columns, 'main' as foreign_schema, "table" as foreign_table, group_concat("to") as foreign_columns, on_update, on_delete from (select * from pragma_foreign_key_list('education_contents', 'main') order by id desc, seq) group by id, "table", on_update, on_delete  
  Γçé pragma foreign_keys  
  Γçé alter table "education_contents" add column "training_module_id" integer  
  Γçé create table "__temp__education_contents" ("training_module_id" integer, foreign key("training_module_id") references "training_modules"("id") on delete set null)  
  Γçé insert into "__temp__education_contents" ("training_module_id") select "training_module_id" from "education_contents"  
  Γçé drop table "education_contents"  
  Γçé alter table "__temp__education_contents" rename to "education_contents"  
  2026_03_11_044000_add_platform_to_education_contents   
  Γçé alter table "education_contents" add column "platform" varchar  
  2026_03_11_044500_add_file_type_to_education_contents   
  Γçé alter table "education_contents" add column "file_type" varchar  
  2026_03_11_044800_add_detail_meta_to_education_contents   
  Γçé alter table "education_contents" add column "related_topic" varchar  
  Γçé alter table "education_contents" add column "next_step_label" varchar  
  Γçé alter table "education_contents" add column "next_step_action" varchar  
  2026_03_11_045000_update_news_table   
  Γçé alter table "news" add column "summary" varchar  
  Γçé alter table "news" add column "is_featured" tinyint(1) not null default '0'  
  Γçé create index "news_is_featured_index" on "news" ("is_featured")  
  2026_03_11_061143_create_vr_tables   
  Γçé create table "vr_devices" ("id" integer primary key autoincrement not null, "user_id" integer, "device_type" varchar check ("device_type" in ('meta_quest_3', 'smartphone_vr', 'other')) not null default 'meta_quest_3', "device_name" varchar, "headset_identifier" varchar not null, "platform_name" varchar, "app_version" varchar, "device_token_hash" varchar, "status" varchar check ("status" in ('active', 'inactive', 'unlinked')) not null default 'active', "last_seen_at" datetime, "current_pairing_id" integer, "created_at" datetime, "updated_at" datetime, foreign key("user_id") references "users"("id") on delete cascade)  
  Γçé create index "vr_devices_user_id_index" on "vr_devices" ("user_id")  
  Γçé create index "vr_devices_device_token_hash_index" on "vr_devices" ("device_token_hash")  
  Γçé create unique index "vr_devices_headset_identifier_unique" on "vr_devices" ("headset_identifier")  
  Γçé create unique index "vr_devices_device_token_hash_unique" on "vr_devices" ("device_token_hash")  
  Γçé create table "vr_pairings" ("id" integer primary key autoincrement not null, "user_id" integer not null, "device_id" integer, "pairing_code_hash" varchar not null, "pairing_token_hash" varchar not null, "status" varchar check ("status" in ('pending', 'confirmed', 'expired', 'cancelled', 'failed')) not null default 'pending', "expires_at" datetime not null, "confirmed_at" datetime, "cancelled_at" datetime, "failed_at" datetime, "requested_module_id" integer, "created_at" datetime, "updated_at" datetime, foreign key("user_id") references "users"("id") on delete cascade, foreign key("device_id") references "vr_devices"("id") on delete cascade, foreign key("requested_module_id") references "training_modules"("id") on delete set null)  
  Γçé create index "vr_pairings_status_expires_at_index" on "vr_pairings" ("status", "expires_at")  
  Γçé create index "vr_pairings_pairing_code_hash_index" on "vr_pairings" ("pairing_code_hash")  
  Γçé create unique index "vr_pairings_pairing_token_hash_unique" on "vr_pairings" ("pairing_token_hash")  
  Γçé select name, type, not "notnull" as "nullable", dflt_value as "default", pk as "primary", hidden as "extra" from pragma_table_xinfo('vr_devices', 'main') order by cid asc  
  Γçé select "sql" from "main".sqlite_master where type = 'table' and name = 'vr_devices'  
  Γçé select 'primary' as name, group_concat(col) as columns, 1 as "unique", 1 as "primary" from (select name as col from pragma_table_xinfo('vr_devices', 'main') where pk > 0 order by pk, cid) group by name union select name, group_concat(col) as columns, "unique", origin = 'pk' as "primary" from (select il.*, ii.name as col from pragma_index_list('vr_devices', 'main') il, pragma_index_info(il.name, 'main') ii order by il.seq, ii.seqno) group by name, "unique", "primary"  
  Γçé select group_concat("from") as columns, 'main' as foreign_schema, "table" as foreign_table, group_concat("to") as foreign_columns, on_update, on_delete from (select * from pragma_foreign_key_list('vr_devices', 'main') order by id desc, seq) group by id, "table", on_update, on_delete  
  Γçé pragma foreign_keys  
  Γçé create table "__temp__vr_devices" (, foreign key("current_pairing_id") references "vr_pairings"("id") on delete set null)  
  Γçé insert into "__temp__vr_devices" () select from "vr_devices"  
  Γçé drop table "vr_devices"  
  Γçé alter table "__temp__vr_devices" rename to "vr_devices"  
  Γçé create table "vr_sessions" ("id" integer primary key autoincrement not null, "user_id" integer not null, "device_id" integer not null, "training_module_id" integer not null, "pairing_id" integer, "session_status" varchar check ("session_status" in ('starting', 'playing', 'completed', 'interrupted', 'failed')) not null default 'starting', "started_at" datetime not null default CURRENT_TIMESTAMP, "last_activity_at" datetime, "completed_at" datetime, "interrupted_at" datetime, "current_step" varchar, "progress_percentage" integer not null default '0', "summary_json" text, "created_at" datetime, "updated_at" datetime, foreign key("user_id") references "users"("id") on delete cascade, foreign key("device_id") references "vr_devices"("id") on delete cascade, foreign key("training_module_id") references "training_modules"("id") on delete cascade, foreign key("pairing_id") references "vr_pairings"("id") on delete set null)  
  Γçé create index "vr_sessions_session_status_index" on "vr_sessions" ("session_status")  
  Γçé create index "vr_sessions_user_id_index" on "vr_sessions" ("user_id")  
  2026_03_11_070000_create_vr_session_events_table   
  Γçé create table "vr_session_events" ("id" integer primary key autoincrement not null, "vr_session_id" integer not null, "user_id" integer not null, "training_module_id" integer not null, "device_id" integer, "event_type" varchar not null, "event_timestamp" datetime not null, "event_payload" text, "created_at" datetime, "updated_at" datetime, foreign key("vr_session_id") references "vr_sessions"("id") on delete cascade, foreign key("user_id") references "users"("id") on delete cascade, foreign key("training_module_id") references "training_modules"("id") on delete cascade, foreign key("device_id") references "vr_devices"("id") on delete set null)  
  Γçé create index "vr_session_events_vr_session_id_event_type_index" on "vr_session_events" ("vr_session_id", "event_type")  
  Γçé create index "vr_session_events_event_type_index" on "vr_session_events" ("event_type")  
  2026_03_11_080000_create_vr_session_stage_results_table   
  Γçé create table "vr_session_stage_results" ("id" integer primary key autoincrement not null, "vr_session_id" integer not null, "user_id" integer not null, "training_module_id" integer not null, "stage_name" varchar not null, "stage_score" numeric, "passed" tinyint(1) not null default '0', "submitted_at" datetime not null default CURRENT_TIMESTAMP, "metadata" text, "created_at" datetime, "updated_at" datetime, foreign key("vr_session_id") references "vr_sessions"("id") on delete cascade, foreign key("user_id") references "users"("id") on delete cascade, foreign key("training_module_id") references "training_modules"("id") on delete cascade)  
  Γçé create index "vr_session_stage_results_vr_session_id_stage_name_index" on "vr_session_stage_results" ("vr_session_id", "stage_name")  
  Γçé create index "vr_session_stage_results_stage_name_index" on "vr_session_stage_results" ("stage_name")  
  2026_03_11_090000_create_vr_session_hints_table   
  Γçé create table "vr_session_hints" ("id" integer primary key autoincrement not null, "vr_session_id" integer not null, "user_id" integer not null, "training_module_id" integer not null, "hint_type" varchar not null, "trigger_reason" varchar not null, "related_step" varchar, "displayed_text" text not null, "displayed_at" datetime not null default CURRENT_TIMESTAMP, "created_at" datetime, "updated_at" datetime, foreign key("vr_session_id") references "vr_sessions"("id") on delete cascade, foreign key("user_id") references "users"("id") on delete cascade, foreign key("training_module_id") references "training_modules"("id") on delete cascade)  
  Γçé create index "vr_session_hints_vr_session_id_hint_type_index" on "vr_session_hints" ("vr_session_id", "hint_type")  
  Γçé create index "vr_session_hints_hint_type_index" on "vr_session_hints" ("hint_type")  
  2026_03_11_134258_create_pharmai_tables   
  Γçé create table "pharmai_conversations" ("id" integer primary key autoincrement not null, "user_id" integer not null, "title" varchar, "last_message_at" datetime, "status" varchar check ("status" in ('active', 'archived')) not null default 'active', "created_at" datetime, "updated_at" datetime, foreign key("user_id") references "users"("id") on delete cascade)  
  Γçé create index "pharmai_conversations_user_id_index" on "pharmai_conversations" ("user_id")  
  Γçé create table "pharmai_messages" ("id" integer primary key autoincrement not null, "conversation_id" integer not null, "role" varchar check ("role" in ('user', 'assistant', 'system')) not null, "content" text not null, "metadata" text, "created_at" datetime, "updated_at" datetime, foreign key("conversation_id") references "pharmai_conversations"("id") on delete cascade)  
  Γçé create index "pharmai_messages_conversation_id_index" on "pharmai_messages" ("conversation_id")  
  2026_03_11_134318_create_vr_ai_interactions_table   
  Γçé create table "vr_ai_interactions" ("id" integer primary key autoincrement not null, "user_id" integer not null, "vr_session_id" integer, "training_module_id" integer, "trigger_event_type" varchar not null, "hint_type" varchar check ("hint_type" in ('remind', 'warn', 'guide', 'explain', 'feedback')) not null default 'guide', "input_context" text, "output_text" text not null, "is_voice_suitable" tinyint(1) not null default '1', "metadata" text, "created_at" datetime, "updated_at" datetime, foreign key("user_id") references "users"("id") on delete cascade, foreign key("vr_session_id") references "vr_sessions"("id") on delete set null, foreign key("training_module_id") references "training_modules"("id") on delete set null)  
  Γçé create index "vr_ai_interactions_vr_session_id_hint_type_index" on "vr_ai_interactions" ("vr_session_id", "hint_type")  
  Γçé create index "vr_ai_interactions_trigger_event_type_index" on "vr_ai_interactions" ("trigger_event_type")  
  2026_03_11_140712_create_session_analytics_table   
  Γçé create table "session_analytics" ("id" integer primary key autoincrement not null, "vr_session_id" integer not null, "total_score" integer not null default '0', "accuracy_score" integer not null default '0', "speed_score" integer not null default '0', "breach_count" integer not null default '0', "duration_seconds" integer not null default '0', "completed_steps" integer not null default '0', "total_steps" integer not null default '0', "metrics_json" text, "created_at" datetime, "updated_at" datetime, foreign key("vr_session_id") references "vr_sessions"("id") on delete cascade)  
  2026_03_11_140712_create_user_achievements_table   
  Γçé create table "user_achievements" ("id" integer primary key autoincrement not null, "user_id" integer not null, "achievement_slug" varchar not null, "metadata" text, "earned_at" datetime not null default CURRENT_TIMESTAMP, "created_at" datetime, "updated_at" datetime, foreign key("user_id") references "users"("id") on delete cascade)  
  Γçé create index "user_achievements_achievement_slug_index" on "user_achievements" ("achievement_slug")  
  2026_03_11_161137_add_fields_to_vr_ai_interactions_table   
  Γçé alter table "vr_ai_interactions" add column "display_text" text  
  Γçé alter table "vr_ai_interactions" add column "speech_text" text  
  Γçé alter table "vr_ai_interactions" add column "severity" varchar not null default 'info'  
  Γçé alter table "vr_ai_interactions" add column "recommended_next_action" text  
  2026_03_11_161825_change_hint_type_to_string_in_vr_ai_interactions_table   
  Γçé select name, type, not "notnull" as "nullable", dflt_value as "default", pk as "primary", hidden as "extra" from pragma_table_xinfo('vr_ai_interactions', 'main') order by cid asc  
  Γçé select "sql" from "main".sqlite_master where type = 'table' and name = 'vr_ai_interactions'  
  Γçé select 'primary' as name, group_concat(col) as columns, 1 as "unique", 1 as "primary" from (select name as col from pragma_table_xinfo('vr_ai_interactions', 'main') where pk > 0 order by pk, cid) group by name union select name, group_concat(col) as columns, "unique", origin = 'pk' as "primary" from (select il.*, ii.name as col from pragma_index_list('vr_ai_interactions', 'main') il, pragma_index_info(il.name, 'main') ii order by il.seq, ii.seqno) group by name, "unique", "primary"  
  Γçé select group_concat("from") as columns, 'main' as foreign_schema, "table" as foreign_table, group_concat("to") as foreign_columns, on_update, on_delete from (select * from pragma_foreign_key_list('vr_ai_interactions', 'main') order by id desc, seq) group by id, "table", on_update, on_delete  
  Γçé pragma foreign_keys  
  Γçé create table "__temp__vr_ai_interactions" ()  
  Γçé insert into "__temp__vr_ai_interactions" () select from "vr_ai_interactions"  
  Γçé drop table "vr_ai_interactions"  
  Γçé alter table "__temp__vr_ai_interactions" rename to "vr_ai_interactions"  
  2026_03_12_045000_create_ai_usage_logs_table   
  Γçé create table "ai_usage_logs" ("id" integer primary key autoincrement not null, "user_id" integer not null, "interaction_type" varchar not null, "source_type" varchar not null, "source_id" integer not null, "provider_name" varchar not null, "model_name" varchar, "latency_ms" integer, "prompt_tokens" integer, "completion_tokens" integer, "total_tokens" integer, "domain_mode" varchar, "is_safe_response" tinyint(1) not null default '1', "conversation_id" integer, "vr_session_id" integer, "metadata" text, "created_at" datetime, "updated_at" datetime, foreign key("user_id") references "users"("id") on delete cascade, foreign key("conversation_id") references "pharmai_conversations"("id") on delete cascade, foreign key("vr_session_id") references "vr_sessions"("id") on delete cascade)  
  Γçé create index "ai_usage_logs_interaction_type_user_id_index" on "ai_usage_logs" ("interaction_type", "user_id")  
  Γçé create index "ai_usage_logs_source_type_source_id_index" on "ai_usage_logs" ("source_type", "source_id")  
  2026_03_13_065406_add_ban_fields_to_users_table   
  Γçé alter table "users" add column "is_banned" tinyint(1) not null default '0'  
  Γçé alter table "users" add column "ban_reason" text  
  2026_03_13_065409_create_audit_logs_table   
  Γçé create table "audit_logs" ("id" integer primary key autoincrement not null, "user_id" integer, "action" varchar not null, "model_type" varchar, "model_id" integer, "old_values" text, "new_values" text, "ip_address" varchar, "user_agent" text, "created_at" datetime, "updated_at" datetime, foreign key("user_id") references "users"("id") on delete set null)  
  2026_03_13_071347_create_settings_table   
  Γçé create table "settings" ("id" integer primary key autoincrement not null, "key" varchar not null, "value" text, "group" varchar not null default 'general', "type" varchar not null default 'string', "description" text, "created_at" datetime, "updated_at" datetime)  
  Γçé create unique index "settings_key_unique" on "settings" ("key")  
  2026_03_13_074058_add_vr_bypass_flag_to_users_table   
  Γçé alter table "users" add column "can_bypass_prerequisites" tinyint(1) not null default '0'  
  2026_03_13_075751_create_rbac_tables   
  Γçé create table "roles" ("id" integer primary key autoincrement not null, "name" varchar not null, "label" varchar, "created_at" datetime, "updated_at" datetime)  
  Γçé create unique index "roles_name_unique" on "roles" ("name")  
  Γçé create table "permissions" ("id" integer primary key autoincrement not null, "name" varchar not null, "label" varchar, "created_at" datetime, "updated_at" datetime)  
  Γçé create unique index "permissions_name_unique" on "permissions" ("name")  
  Γçé create table "role_user" ("role_id" integer not null, "user_id" integer not null, "created_at" datetime, "updated_at" datetime, foreign key("role_id") references "roles"("id") on delete cascade, foreign key("user_id") references "users"("id") on delete cascade, primary key ("role_id", "user_id"))  
  Γçé create table "permission_role" ("permission_id" integer not null, "role_id" integer not null, "created_at" datetime, "updated_at" datetime, foreign key("permission_id") references "permissions"("id") on delete cascade, foreign key("role_id") references "roles"("id") on delete cascade, primary key ("permission_id", "role_id"))  
  2026_03_13_085523_add_passed_to_assessment_attempts_table   
  Γçé alter table "assessment_attempts" add column "passed" tinyint(1) not null default '0'  
  2026_03_14_232904_refine_user_roles_and_status   
  Γçé select name, type, not "notnull" as "nullable", dflt_value as "default", pk as "primary", hidden as "extra" from pragma_table_xinfo('users', 'main') order by cid asc  
  Γçé select "sql" from "main".sqlite_master where type = 'table' and name = 'users'  
  Γçé select 'primary' as name, group_concat(col) as columns, 1 as "unique", 1 as "primary" from (select name as col from pragma_table_xinfo('users', 'main') where pk > 0 order by pk, cid) group by name union select name, group_concat(col) as columns, "unique", origin = 'pk' as "primary" from (select il.*, ii.name as col from pragma_index_list('users', 'main') il, pragma_index_info(il.name, 'main') ii order by il.seq, ii.seqno) group by name, "unique", "primary"  
  Γçé select group_concat("from") as columns, 'main' as foreign_schema, "table" as foreign_table, group_concat("to") as foreign_columns, on_update, on_delete from (select * from pragma_foreign_key_list('users', 'main') order by id desc, seq) group by id, "table", on_update, on_delete  
  Γçé pragma foreign_keys  
  Γçé alter table "users" add column "status" varchar not null default 'active'  
  Γçé create table "__temp__users" ("status" varchar not null default 'active')  
  Γçé insert into "__temp__users" ("status") select "status" from "users"  
  Γçé drop table "users"  
  Γçé alter table "__temp__users" rename to "users"  
  Γçé update "users" set "status" = 'suspended' where "is_banned" = 1  
  Γçé update "users" set "role" = 'student' where "role" = 'user'  
  Γçé alter table "users" drop column "is_banned"  
  Γçé alter table "users" drop column "ban_reason"  
  2026_03_15_024541_add_learning_meta_to_education_contents   
  Γçé alter table "education_contents" add column "source_type" varchar check ("source_type" in ('upload', 'external')) not null default 'external'  
  Γçé alter table "education_contents" add column "prerequisites" text  
  Γçé alter table "education_contents" add column "related_materials" text  
  2026_03_15_030710_add_detailed_document_meta_to_education_contents   
  Γçé alter table "education_contents" add column "short_summary" varchar  
  Γçé alter table "education_contents" add column "ai_context" text  
  2026_03_18_031617_add_journey_status_to_user_training_progress   
  Γçé alter table "user_training_progress" add column "pre_test_status" varchar check ("pre_test_status" in ('locked', 'available', 'passed', 'failed')) not null default 'available'  
  Γçé alter table "user_training_progress" add column "vr_status" varchar check ("vr_status" in ('locked', 'available', 'completed')) not null default 'locked'  
  Γçé alter table "user_training_progress" add column "post_test_status" varchar check ("post_test_status" in ('locked', 'available', 'passed', 'failed')) not null default 'locked'  
  Γçé alter table "user_training_progress" add column "last_active_step" varchar  
  2026_03_18_034353_rename_cover_image_url_to_path_in_training_modules_table   
  Γçé alter table "training_modules" rename column "cover_image_url" to "cover_image_path"  
  2026_03_18_055705_seed_app_settings   
  Γçé select * from "settings" where ("key" = 'home_banner') limit 1  
  Γçé insert into "settings" ("key", "value", "group", "type", "description", "updated_at", "created_at") values ('home_banner', 'assets/images/hero_banner.jpg', 'Appearance', 'image', 'The main banner image displayed on the home screen.', '2026-03-19 05:02:36', '2026-03-19 05:02:36')  
  Γçé select * from "settings" where ("key" = 'about_mission') limit 1  
  Γçé insert into "settings" ("key", "value", "group", "type", "description", "updated_at", "created_at") values ('about_mission', 'PharmVR is a next-generation VR-centered learning platform designed specifically for the pharmaceutical industry.', 'About', 'textarea', 'Our mission statement displayed on the About screen.', '2026-03-19 05:02:36', '2026-03-19 05:02:36')  
  Γçé select * from "settings" where ("key" = 'about_description') limit 1  
  Γçé insert into "settings" ("key", "value", "group", "type", "description", "updated_at", "created_at") values ('about_description', 'By merging Good Manufacturing Practice (GMP/CPOB) standards with immersive VR simulations and an intelligent AI assistant, PharmVR bridges the gap between theoretical knowledge and practical training.', 'About', 'textarea', 'Detailed description of PharmVR.', '2026-03-19 05:02:36', '2026-03-19 05:02:36')  
  Γçé select * from "settings" where ("key" = 'privacy_policy_url') limit 1  
  Γçé insert into "settings" ("key", "value", "group", "type", "description", "updated_at", "created_at") values ('privacy_policy_url', 'https://pharmvr.id/privacy', 'Legal', 'text', 'Link to the Privacy Policy.', '2026-03-19 05:02:36', '2026-03-19 05:02:36')  
  Γçé select * from "settings" where ("key" = 'terms_of_service_url') limit 1  
  Γçé insert into "settings" ("key", "value", "group", "type", "description", "updated_at", "created_at") values ('terms_of_service_url', 'https://pharmvr.id/terms', 'Legal', 'text', 'Link to the Terms of Service.', '2026-03-19 05:02:36', '2026-03-19 05:02:36')  
  Γçé select * from "settings" where ("key" = 'official_website_url') limit 1  
  Γçé insert into "settings" ("key", "value", "group", "type", "description", "updated_at", "created_at") values ('official_website_url', 'https://pharmvr.id', 'Legal', 'text', 'Link to the Official Website.', '2026-03-19 05:02:36', '2026-03-19 05:02:36')  
  2026_03_18_222659_rebuild_question_bank_schema_to_spec   
  Γçé pragma foreign_keys = 0  
  Γçé drop table if exists "question_bank_options"  
  Γçé drop table if exists "question_bank_items"  
  Γçé drop table if exists "assessments"  
  Γçé pragma foreign_keys = 1  
  Γçé create table "assessments" ("id" integer primary key autoincrement not null, "module_id" integer not null, "type" varchar check ("type" in ('pretest', 'posttest')) not null, "title" varchar not null, "description" text, "status" varchar check ("status" in ('active', 'inactive')) not null default 'inactive', "number_of_questions_to_take" integer not null, "randomize_questions" tinyint(1) not null default '1', "randomize_options" tinyint(1) not null default '1', "passing_score" integer not null default '70', "time_limit_minutes" integer, "created_by" integer, "created_at" datetime, "updated_at" datetime, foreign key("module_id") references "training_modules"("id") on delete cascade)  
  Γçé create unique index "assessments_module_id_type_unique" on "assessments" ("module_id", "type")  
  Γçé create table "question_bank_items" ("id" integer primary key autoincrement not null, "module_id" integer not null, "question_text" text not null, "usage_scope" varchar check ("usage_scope" in ('pretest', 'posttest', 'both')) not null default 'both', "difficulty" varchar, "explanation" text, "is_active" tinyint(1) not null default '1', "created_by" integer, "created_at" datetime, "updated_at" datetime, foreign key("module_id") references "training_modules"("id") on delete cascade)  
  Γçé create table "question_bank_options" ("id" integer primary key autoincrement not null, "question_bank_item_id" integer not null, "option_key" varchar, "option_text" text not null, "is_correct" tinyint(1) not null default '0', "sort_order" integer not null default '1', "created_at" datetime, "updated_at" datetime, foreign key("question_bank_item_id") references "question_bank_items"("id") on delete cascade)  
  2026_03_18_235339_create_ai_knowledge_chunks_table   
  Γçé create table "ai_knowledge_chunks" ("id" integer primary key autoincrement not null, "source_id" integer not null, "chunk_index" integer not null, "section_title" varchar, "page_number" integer, "chunk_text" text not null, "token_count" integer, "embedding_status" varchar check ("embedding_status" in ('pending', 'completed', 'failed')) not null default 'pending', "chunk_hash" varchar, "created_at" datetime, "updated_at" datetime, foreign key("source_id") references "ai_knowledge_sources"("id") on delete cascade)  
  2026_03_18_235339_create_ai_knowledge_sources_table   
  Γçé create table "ai_knowledge_sources" ("id" integer primary key autoincrement not null, "module_id" integer, "title" varchar not null, "slug" varchar, "description" text, "category" varchar, "topic" varchar, "author" varchar, "publisher" varchar, "publication_year" integer, "source_type" varchar not null, "file_path" varchar, "language" varchar not null default 'id', "trust_level" varchar not null default 'internal', "status" varchar not null default 'draft', "is_active" tinyint(1) not null default '1', "parsing_status" varchar check ("parsing_status" in ('pending', 'processing', 'completed', 'failed')) not null default 'pending', "indexing_status" varchar check ("indexing_status" in ('pending', 'processing', 'completed', 'failed')) not null default 'pending', "total_chunks" integer not null default '0', "uploaded_by" integer, "created_at" datetime, "updated_at" datetime, foreign key("module_id") references "training_modules"("id") on delete set null, foreign key("uploaded_by") references "users"("id") on delete set null)  
  2026_03_18_235340_create_ai_avatar_profiles_table   
  Γçé create table "ai_avatar_profiles" ("id" integer primary key autoincrement not null, "name" varchar not null, "slug" varchar not null, "role_title" varchar, "persona_text" text, "greeting_text" text, "default_module_id" integer, "allowed_topics_json" text, "avatar_model_path" varchar, "voice_style" varchar, "is_active" tinyint(1) not null default '1', "created_at" datetime, "updated_at" datetime, foreign key("default_module_id") references "training_modules"("id") on delete set null)  
  Γçé create unique index "ai_avatar_profiles_slug_unique" on "ai_avatar_profiles" ("slug")  
  2026_03_18_235340_create_ai_chat_messages_table   
  Γçé create table "ai_chat_messages" ("id" integer primary key autoincrement not null, "session_id" integer not null, "sender" varchar check ("sender" in ('user', 'assistant', 'system')) not null, "message_text" text not null, "cited_sources_json" text, "scene_context" varchar, "object_context" varchar, "response_time_ms" integer, "confidence_score" numeric, "created_at" datetime, "updated_at" datetime, foreign key("session_id") references "ai_chat_sessions"("id") on delete cascade)  
  2026_03_18_235340_create_ai_chat_sessions_table   
  Γçé create table "ai_chat_sessions" ("id" integer primary key autoincrement not null, "user_id" integer, "platform" varchar check ("platform" in ('mobile', 'web', 'vr', 'admin')) not null default 'mobile', "module_id" integer, "session_title" varchar, "status" varchar check ("status" in ('active', 'archived')) not null default 'active', "created_at" datetime, "updated_at" datetime, foreign key("user_id") references "users"("id") on delete cascade, foreign key("module_id") references "training_modules"("id") on delete set null)  
  2026_03_18_235341_create_ai_avatar_scene_prompts_table   
  Γçé create table "ai_avatar_scene_prompts" ("id" integer primary key autoincrement not null, "avatar_profile_id" integer not null, "scene_key" varchar not null, "object_key" varchar, "prompt_title" varchar, "prompt_text" text not null, "suggested_questions_json" text, "is_active" tinyint(1) not null default '1', "created_at" datetime, "updated_at" datetime, foreign key("avatar_profile_id") references "ai_avatar_profiles"("id") on delete cascade)  
  2026_03_19_005233_add_assistant_mode_to_ai_chat_sessions_table   
  Γçé alter table "ai_chat_sessions" add column "assistant_mode" varchar  
  2026_03_19_014331_add_content_and_url_to_ai_knowledge_sources_table   
  Γçé alter table "ai_knowledge_sources" add column "url" varchar  
  Γçé alter table "ai_knowledge_sources" add column "content" text  
  2026_03_19_014754_add_status_to_ai_knowledge_sources_table   
  Γçé alter table "ai_knowledge_sources" add column "status" varchar not null default 'draft'  
  2026_03_19_080500_add_response_mode_to_ai_chat_messages_table   
  Γçé alter table "ai_chat_messages" add column "response_mode" varchar  
  Γçé alter table "ai_chat_messages" add column "suggested_followups" text  

